# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/

# Supabase
supabase/.temp/

# Debug
npm-debug.log*
pnpm-debug.log*

#PDF,TXT
*.pdf
*.txt
